* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1500px;
  margin: auto;
}

.container {
  display: flex;
}

#sidebar .profile img {
  width: 40%;
}

.logo {
  width: 75%;
  margin-left: 30px;
  padding-bottom: 20px;
  padding-top: 28px;
}

#sidebar {
  width: 350px;
  height: 100vh;
  background-color: #111827;
  color: #ffffff;
}

.profile {
  text-align: center;
  padding-top: 20px;
}

#content {
  width: 100%;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  padding-left: 40px;
  padding-right: 40px;
}

.actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.btn-link img {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.btn-link {
  padding: 10px 10px;
  border-radius: 10px;
  width: 220px;
  height: 48px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.btn-link:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

/* Serach Bar */

.searchBar {
  margin-top: 30px;
  background-color: white;
  width: full;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.searchBar input {
  border: 1px solid #767676;
  padding: 10px 20px;
  border-radius: 50px;
  width: 300px;
  height: 35px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 27px;
}

.dashboardHeader button {
  border-radius: 50px;
  width: 180px;
  height: 48px;
  cursor: pointer;
  background-color: #1f7cff;
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.dashboardHeader button:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

.journalCard {
  margin-top: 20px;
  background-color: white;
  width: full;
  height: 130px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 20px;
}

.journalCard p:nth-child(2) {
  color: #07c30b;
}

.journalInfo img {
  width: 100px;
  height: 100px;
}

.journalInfo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.journalInfo p:nth-child(2) {
  font-size: 16px;
  font-weight: 300;
  color: #5d5d5d;
}

.journalInfo p:nth-child(3) {
  font-size: 16px;
  font-weight: 600;
  color: #00b118;
}

.journalAction a:nth-child(1) {
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(0, 184, 55);
}

.journalAction a:nth-child(2) {
  color: rgb(255, 255, 255);
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background-color: red;
  font-weight: bold;
}

.journalAction a:nth-child(1):hover {
  background-color: rgb(0, 138, 41);
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

.journalAction a:nth-child(2):hover {
  background-color: rgb(207, 4, 4);
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}
