@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1500px;
  margin: auto;
}

/* INI BAGIAN STYLE NAVBAR */

.navbar {
  margin: 16px 50px 65px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#MainContainer {
  margin-top: 120px;
}

.navbar a {
  color: #000000;
  text-decoration: none;
}

.navbar a:hover {
  color: #1f7cff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar img {
  width: 293px;
  height: 42px;
}

.navButton {
  background-color: #1f7cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 120px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
}

.navButton:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

.navButton2 {
  background-color: #f5f6fb;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 120px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
}

.buttondiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* INI AKHIR BAGIAN STYLE NAVBAR */

/* INI BAGIAN MAIN CONTAINER */
.container {
  margin: 10px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerContent p {
  padding-top: 20px;
  padding-bottom: 40px;
  color: #575455;
}

.containerContent h1 {
  font-size: 44px;
}

.containerContent img {
  width: 513px;
  height: 464px;
}

.containerButton {
  background-color: #1f7cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 180px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
}

.containerButton:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

/* INI AKHIR MAIN CONTAINER */

/* INI BAGIAN FITUR NYA */

#fitur {
  background-color: #f3faff;
  margin-top: 50px;
}

.fiturText {
  text-align: center;
}

.fiturText h1 {
  font-size: 45px;
}

.fiturText p {
  color: #575455;
  padding-top: 8px;
  padding-bottom: 90px;
}

.fiturText h4 {
  color: #0c4eaa;
  padding-top: 90px;
  padding-bottom: 10px;
}

.rounded {
  border-radius: 50px;
  width: 66px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundedcolor1 {
  background-color: #1f7cff;
}

.roundedcolor2 {
  background-color: #ff4a3a;
}

.roundedcolor3 {
  background-color: #191046;
}

.fiturCardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 90px;
}

.fiturName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fiturName h3 {
  font-size: 20px;
  font-weight: 600;
}

.fiturCard p {
  color: #575455;
  padding-top: 22px;
}

/* INI AKHIR FITUR NYA */

/* Ini Bagian Advertise */

#advertise {
  margin: 90px 50px 100px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.advertiseText h1 {
  font-size: 36px;
}

.advertiseText p {
  color: #575455;
  padding-top: 22px;
  padding-bottom: 40px;
}

.advertiseText h4 {
  font-size: 16px;
  color: #0c4eaa;
  padding-bottom: 20px;
}

.advertiseImage img {
  border-radius: 30px;
  width: 670px;
  height: 428px;
}

.advertiseButton button {
  background-color: #1f7cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 180px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
}

.advertiseButton button:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

.advertiseButton input {
  background-color: #f5f6fb;
  color: #575455;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 299px;
  height: 48px;
  cursor: pointer;
}

/* Ini Akhir Bagian Advertise */

/* Ini Bagian Testimoni */

.testimoniText h1 {
  font-size: 36px;
  text-align: center;
}

.testimoniText p {
  color: #575455;
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center;
}

.testimoniText h4 {
  font-size: 16px;
  color: #0c4eaa;
  padding-bottom: 5px;
  text-align: center;
}
/* Ini Akhir Bagian Testimoni */

/* INI BAGIAN TESTIMONI */

.testimoniContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.testimoniContent2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.badgeTestimoni {
  background-color: #1f7cff;
  color: white;
  width: 100px;
  border-radius: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
}

.testimoniCard {
  display: flex;
  width: 33.33%;
  height: 210px;
  border-radius: 10px;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background-color: #f5f6fb;
  gap: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimoniPerson p {
  color: #575455;
  text-align: left;
  padding: 12px 0px 0px 0px;
}

.fotoTestimoni {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: aqua;
  flex-shrink: 0; /* Tambahan penting */
}

.fotoTestimoni img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* INI AKHIR BAGIAN TESTIMONI */

/*  INI BAGIAN CTA NYA */

#CTA {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}

#CTA img {
  filter: brightness(0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#CTA .CTAContent {
  padding-top: 30px;

  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: rgb(255, 255, 255);
}

#CTA h1 {
  font-size: 44px;
  padding-bottom: 15px;
  font-weight: 800;
  z-index: 999px;
}

#CTA p {
  font-size: 16px;
  padding-bottom: 30px;
}

.CTAContent a {
  color: #ffffff;
  text-decoration: none;
}

#CTA button {
  background-color: #1f7cff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  width: 180px;
  height: 48px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-right: 23px;
}

#CTA button:hover {
  background-color: #0c4eaa;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

/* INI BAGIAN FOOTER */

#Footer {
  margin: 90px 50px 30px 50px;
}

.copyright {
  color: #000000;
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
}

.isikonten {
  width: 25%;
  text-align: left;
  color: #575455;
}

.isikonten h1 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 30px;
}

.isikonten h6 {
  color: #10507f;
  padding-bottom: 10px;
}

.isikonten img {
  width: 90%;
  padding-bottom: 30px;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  margin: 50px;
}

.footerContent ul li a {
  text-decoration: none;
  color: #575455;
  list-style: none;
}

.footerContent ul li a:hover {
  color: #1f7cff;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.1s;
}

.footerContent ul li {
  list-style: none;
  padding: 7px 0px 7px 0px;
}

.contact1,
.contact {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #191046;
  margin-bottom: 14px;
}

/* Ini Akhir Bagian Footer */
